<doctype html>
    <html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-128940143-1"></script>
        <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-128940143-1');





        </script>

        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <title>Engineering Biology Lab</title>
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon"
              type="image/vnd.microsoft.icon">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styleguide.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/template.css') }}" type="text/css">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}" type="text/css">
        <link href="{{ url_for('static', filename='lib/font-awesome/css/font-awesome.min.css') }}" rel="stylesheet"
              type="text/css">

        <script src="{{ url_for('static', filename='js/jquery-1.11.1.min.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='js/bootstrap.min.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='js/jquery.tap.min.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='js/offcanvas.js') }}" type="text/javascript"></script>

        <script src="{{ url_for('static', filename='js/common.js') }}" type="text/javascript"></script>
    </head>

    <body>
    <!-- MENU FOR MOBILE - OFF CANVAS - START -->

    <div id="nus-sidebar-off-canvas"
         class="nus-sidebar-off-canvas hidden-lg hidden-md off-canvas-effect-4 off-canvas-right">

        <div class="header">

            <h2>Sidebar</h2>

            <button type="button" class="close">×</button>

        </div>

        <div class="body">

            <div class="nus-module module_menu">

                <div class="module-inner">

                    <h3 class="title "><span>Main Menu</span></h3>

                    <div class="module-ct">

                        <ul class="nav nav-pills nav-stacked">

                            <li class="current active"><a href="/">Home</a></li>


                        </ul>

                    </div>

                </div>

            </div>

        </div>

    </div>

    <!-- MENU FOR MOBILE - OFF CANVAS - END -->

    <!-- NUS BODY CONTAINER - START -->
    <div class="nus-body-container">

        <div class="nus-wrapper">


            <!-- HEADER -->

            <header class="nus-header">
                <!-- set 'microsite' to get #eee background. Otherwise, remove it to get #fff background -->

                <div class="container">

                    <div class="row">


                        <!-- LOGO SECTION - START -->

                        <div class="col-md-8 nus-logo clearfix">




                        </div>

                        <!-- LOGO SECTION - END -->


                        <div class="nus-mobile-nav hidden-lg hidden-md">

                            <ul>

                                <li><a class="faicon fa-search collapsed" data-toggle="collapse"
                                       data-target="#search-collapse" href="javascript:void(0)">&nbsp;</a></li>

                                <li><a class="faicon fa-mobile-menu btn-toggle off-canvas-toggle" data-pos="right"
                                       data-effect="off-canvas-effect-4" data-nav="#nus-sidebar-off-canvas"
                                       href="javascript:void(0)">&nbsp;</a></li>

                            </ul>

                        </div>


                    </div>

                </div>

            </header>

            <!-- //HEADER -->


            <!-- MAIN NAVIGATION -->

            <nav class="navbar navbar-default nus-main-nav hidden-xs hidden-sm">

                <div class="container clearfix">


                    <!-- MAIN MENU - NUS - START -->

                    <div class="nus-megamenu hidden-sm hidden-xs">

                        <ul class="nav navbar-nav level0">

                            <li class="current active"><a class="" href="/" data-target="#">Home</a></li>


                        </ul>

                    </div>

                    <!-- MAIN MENU - NUS - END -->


                </div>

            </nav>

            <!-- //MAIN NAVIGATION -->


            <!-- BMSS SEARCH - START -->
            <p>
            <p>
            <div class="bannerimage">
                <a href="/"><img src="{{ url_for('static', filename='images/banner.png') }}"
                                 alt="SubLogo" width="500"></a>
            </div>

            <div class="mbaseimage">
                <a href="/"><img src="{{ url_for('static', filename='images/search_image.png') }}" alt="SearchImage"
                                 width="500"></a>
            </div>
            <style>
                    .mbaseimage {
                        text-align: center;
                    }
                    .bannerimage {
                        text-align: center;
                    }


            </style>


            {% from "_formhelpers.html" import render_field %}
            <form method=post style="text-align:center">
                <dl>
                    {{ render_field(form.select) }}
                    <p>
                        {{ render_field(form.search) }}
                </dl>
                <p><input type=submit value=Search>
            </form>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes style="text-align:center;list-style-type:none">
                {% for message in messages %}
                <li>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}
            <!-- BMSS SEARCH - ENDS -->


    </body>
    </html>